{
  "extends": ["react-app", "eslint:recommended","./.eslintrc.base.cjs"], // 미리 만든 config 쓰는거,  react-app 쓰려면 eslint-config-react-app 설치해야함
  "env": {
    "es6": true
  },
  "rules": {
    "no-var": "error", // var 금지
    "no-console": ["error", { "allow": ["warn", "error", "info"] }], // console.log() 금지
    "no-unused-vars": "warn"
  }
}
